.body{
    background-color: black;
    color: pink;
}

.table{
    background-color: coral;
    display: grid;
    align-self: center;
}

.score{
    font-size: 200px;
}

.td{
    width: auto;
    font-size: 40px;
    align-self: center;
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
}

.header{
    background-color: blue;
    text-align: center;
}